/* #ID e .CLASS */
*{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    padding: 0vh;
}

/* Cabeçalho */
.inicio {
    align-items: flex-end;
    background-color: #777777;
    border: 1px none;
    display: flex;
    width: 100vw;
    height: 16vh;
    margin: 0vh;
    padding: 0vh;
    border: 0vh;
}
.logo {
    height: 16vh;
    width: 32vw;
    padding: 0vh;
    margin: auto;
}
#crieaconta {
    align-items: center;
    width: 40vw;
    height: 5vh;
    padding: 0vh;
    margin: auto;
    display: flex;
    color: #fff;
}

/* Imagem e Corpo */

.frente{
    width: 100vw;
    height: 67vh;
    margin: 0vh;
    padding: 0vh;
    border: 0vh;
    display: flex;
}

/* <img class="frente" src="./images/Pessoa.jpg"> */

.img{
    margin: 0vh;
    padding: 0vh;
    border: 0vh;
    height: 66vh;
    display: flex;
}



/* Rodapé */
.fooster{
        align-items: flex-end;
        background-color: #777777;
        border: 1px none;
        width: 100vw;
        height: 18vh;
        margin: 0vh;
        padding: 0vh;
        border: 0vh;
        display: flex;
}
.pfoo {
    width: 100vw;
    height: 18vh;
    border: 0vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #fff;
    margin-left: 3vw;
}
#bem{
    align-items: center;
    width: 40vw;
    height: 5vh;
    padding: 0vh;
    margin: auto;
    display: flex;
}
